/* Style for speech */
.speech 
    {
        font-size: 12;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }

/* Styles for stage dirctions */
.direction
    {
        font-size: 14;
        font-family:'Courier New', Courier, monospace;
        color: black;
        background-color: bisque;
    }

.direction:hover {
        background-color: tan;
        color: cyan;
    }

/* Name styles */
.name {
    /* Common styles for character names */
    font-weight: bold;
}

/* Hover effect for Name class */
.name:hover {
    text-shadow: 2px 2px 4px #ff6600; 
    border: 2px solid #ff6600; 
}

/* Character specific styles */
.name.VOITSKI
    {
        color:crimson;
    }

.name.HELENA
    {
        color: orange;
    }

.name.ASTROFF
    {
        color: yellow;
    }

.name.TELEGIN
    {
        color: green;
    }
    
.name.MARINA
    {
        color: teal;
    }

.name.SONIA
    {
        color: blue;
    }

.name.MME
    {
        color: purple;
    }

/* Table style */
table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    
th, td 
{
        padding: 10px;
        text-align: left;
    }
    
th {
        background-color: #333;
        color: white;
    }
    
tr:nth-child(even) 
    {
        background-color: #f2f2f2;
    }